

.fondoMenu{
    background-image: url(../img/imagenmenu.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
  }

  
.Menu{
 
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
    background-color: rgba(127, 255, 212, 0.249);
  }


  .menuFooter{
    background-color: white;
  }
  
  .header_titulo{
    margin-top: 5rem;
  }