

  
.Menu{
 
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
&__categorias{
  padding: 2rem;
  margin: 2rem;
  border-right: 2px solid rgba(201, 127, 8, 0.782);
  &__imagen{
    height: 5rem;
    width: 5rem;
    margin: 2rem;
    text-align: center;
    margin-left: 4rem;
  }
}
  }

  .header_titulo{
    margin-top: 5rem;
  }